.container .slice {
    transition-duration: 0.3s;
    transition-property: filter, opacity;
    filter: saturate(100%);
    opacity: 1;
    cursor: pointer;
}

.container.hasHighlight .slice {
    filter: saturate(50%);
    opacity: 0.2;
}

.container.hasHighlight .slice:hover {
    filter: saturate(100%);
    opacity: 1;
}


/* @keyframes holographic-shimmer {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.03);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .slice path {
    animation: holographic-shimmer 4s infinite;
  } */